<h1 class="text-center">Football_cross</h1>
<h1 class="text-center">トップページの表示</h1>

<% if user_signed_in? %>
  <div class="text-center">
    <%= link_to "ログアウトする", destroy_user_session_path, method: :delete, class: 'btn btn-danger', data: { confirm: "本当にログアウトしますか？" } %>
  </div>
<% end %>